<div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
  <hr class="lg:col-span-2 md:col-span-2 mb-2" />
  <p class="text-sm mb-1 max-w-md">
    Soy una persona encantanda con el desarrollo Web y los desafíos que
    conlleva; he adquirido habilidades con ayuda de mis estudios universitarios
    y de forma autodidácta en tecnologías FrontEnd y BackEnd.
  </p>

  <p class="text-sm mb-1 max-w-md">
    Tengo mucha experiencia en el trabajo en equipo, además de haber sido lider,
    mentor, y tener facilidad para el rápido aprendizaje. Lo cuál es mi filosofía,
    cada nuevo problema es una oportunidad de aprender algo nuevo.
  </p>
  <p class="text-sm mb-1 max-w-md -mt-2">
    Me apasiona la creación de interfaces intuitivas y responsivas. Me encuentro
    en búsqueda de una oportunidad para mostrar mis habilidades.
  </p>
  <p class="text-sm mb-1 max-w-md -mt-2">
    Durante mi última experiencia laboral he puesto en práctica metodologías
    agíles como Scrum, tiempos de entrega y comunicación constante.
  </p>
  <hr class="lg:col-span-2 md:col-span-2 mt-2" />
</div>
