<header
  class="flex justify-center items-center py-3 w-full px-5 fixed top-0 bg-[#1a1d27]/30 z-50 backdrop-blur-sm"
>
  <nav class="hidden md:flex flex-row gap-x-10 opacity-80">
    <a
      href="/#top"
      class="transition-opacity hover:opacity-20 duration-300 text-sm">Inicio</a
    >
    <a
      href="/#experiencia"
      class="transition-opacity hover:opacity-20 duration-300 text-sm"
      >Experiencia</a
    >
    <a
      href="/#proyectos"
      class="transition-opacity hover:opacity-20 duration-300 text-sm"
      >Proyectos</a
    >    
    <a
      href="/#sobre-mi"
      class="transition-opacity hover:opacity-20 duration-300 text-sm"
      >Sobre mí</a
    >
    <a
      href="/#tecnologias"
      class="transition-opacity hover:opacity-20 duration-300 text-sm"
      >Tecnologías</a
    >
  </nav>

  <!-- Menú hamburguesa -->
  <div class="md:hidden flex justify-end w-full pr-4">
    <button
      id="menu-toggle"
      class="items-end text-xl focus:outline-none transition-opacity hover:opacity-20 duration-300"
    >
      ☰
    </button>
  </div>

  <!-- Pantallas pequeñas -->
  <div
    id="dropdownNavbar"
    class="hidden absolute top-16 right-5 z-10 font-normal bg-[#1a1d27] divide-y divide-gray-100 rounded-lg shadow-lg w-44 dark:bg-gray-700 dark:divide-gray-600"
  >
    <ul class="py-2 text-sm text-gray-300 dark:text-gray-400">
      <li>
        <a
          href="/#top"
          class="block px-4 py-2 hover:bg-gray-400 dark:hover:bg-gray-600 dark:hover:text-white/60"
          >Inicio</a
        >
      </li>
      <li>
        <a
          href="/#experiencia"
          class="block px-4 py-2 hover:bg-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
          >Experiencia</a
        >
      </li>
      <li>
        <a
          href="/#proyectos"
          class="block px-4 py-2 hover:bg-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
          >Proyectos</a
        >
      </li>
      <li>
        <a
          href="/#sobre-mi"
          class="block px-4 py-2 hover:bg-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
          >Sobre mí</a
        >
      </li>
      <li>
        <a
          href="/#tecnologias"
          class="block px-4 py-2 hover:bg-gray-400 dark:hover:bg-gray-600 dark:hover:text-white"
          >Tecnologías</a
        >
      </li>      
    </ul>
  </div>
</header>

<script>
  const menuToggle = document.getElementById("menu-toggle");
  const dropdownNavbar = document.getElementById("dropdownNavbar");

  menuToggle.addEventListener("click", (event) => {
    dropdownNavbar.classList.toggle("hidden");
    event.stopPropagation();
  });

  window.addEventListener("resize", () => {
    if (window.innerWidth >= 768) {
      dropdownNavbar.classList.add("hidden");
    }
  });

  document.addEventListener("click", (event) => {
    const target = event.target as Node;
    const isClickInsideMenu = dropdownNavbar.contains(target);
    const isClickOnToggle = menuToggle.contains(target);

    if (!isClickInsideMenu && !isClickOnToggle) {
      dropdownNavbar.classList.add("hidden");
    }
  });
</script>
